@media only screen and (min-width: 600px) {
    body {
        position: relative;
    }

    #menuButton {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    ul.nav{
        display: flex;
        flex-direction: row;
        padding: 5px;
    }

    nav{
        grid-template-rows: 1fr;
    }
}

@media only screen and (min-width: 725px) {
    #contact-main {
        flex-direction: row;
        align-items: flex-start;
    }
    
    #contact-form {
        flex: 1 1 500px;
    }
    
    #contact-aside {
        flex: 0 0 25%;
        position: sticky;
        top: 40%;
        right: 15px;
    }
}