@media only screen and (min-width: 600px) {
    #menuButton {
        display: none;
    }

    ul.nav{
        display: flex;
        flex-direction: row;
    }

    nav{
        grid-template-rows: 1fr;
    }

    #cards.list {
        display: block;
    }

    #cards.list .card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 725px) {
    section.events {
        max-width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 0.25rem;
    }

    #spotlight {
        max-width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.25rem;
    }

    .join-main {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 0 auto;
        padding: 1rem;
    }
    
    .join-main h1 {
        grid-column: 1/3;
    }
}