@media only screen and (min-width: 600px) {
    #menuButton {
        display: none;
    }

    ul.nav{
        display: flex;
        flex-direction: row;
    }

    nav{
        grid-template-rows: 1fr;
    }
}