:root {
    --header-back: black;
    --header-color: white;
    --light-blue: #a3c5e2;
    --dark-blue: #0472be;
    --big-font: Lato, sans-serif;
    --small-font: Montserrat, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

/* Header content */

header, footer {
    background-color: var(--header-back);
    color: var(--header-color);
    padding: 10px;
}

#logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    font-family: var(--big-font);
}

header h2 {
    font-size: 1.5em;
}

/* Navigation content */

#menuButton {
	font-size: 1.8rem;
	border: none;
	background: none;
	color: var(--header-color);
    cursor: pointer;
 	position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

#menuButton::before {
	content: "☰";
}

#menuButton.open::before {
	content: "✖";
}

ul.nav {
    list-style-type: none;
}

ul.nav li a {
    color: var(--header-color);
    display: block;
    padding: .5rem 2vw;
    text-decoration: none;
    font-family: var(--small-font);
    text-align: right;
}

.nav li.active a{
    text-decoration: underline;
    font-weight: bold;
}

.nav li:hover, main a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

/* Main content */
main {
    background-color: #e5e6ea;
}

main h1, main h2 {
    font-family: var(--big-font);
    padding: 1rem;
}

main p, main a, figcaption {
    font-family: var(--small-font);
    margin-bottom: 5px;
}

.page-title p {
    margin-top: -20px;
}

.page-title {
    padding: 1rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

div.join-us {
    position: absolute;
    bottom: 10%;
    left: 20%;
}

div.join-us p {
    padding: 15px;
    font-family: var(--small-font);
    background-color: rgba(225,225,225,0.6);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

div.join-us p a, .card a {
    text-decoration: none;
    color: black;
}

div.join-us p:hover{
    background-color: rgba(225,225,225,1);
    text-decoration: underline;
    transform: translateY(-2px);
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-buttons button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: var(--small-font);
    background-color: var(--header-back);
    color: white;
}

.filter-buttons button:hover {
    background-color: var(--dark-blue);
    transform: translateY(-2px);
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.filter-buttons button.active {
    background-color: var(--dark-blue);
}

#cards.grid, #cards.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 2fr));
    gap: 1rem;
}

.card {
    padding-bottom: 20px;
}

.card img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

section.events > div {
    margin: 8px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

/* Join Page */

section.membership {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.membership > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 10px;
    width: 95%;
    padding: 10px;
    height: auto;
    border: solid 1px black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
}

/* Footer content */

footer {
    display: flex;
    padding: 10px;
    font-family: var(--small-font);
    justify-content: space-evenly;
    align-items: center;
}